
/* body{
    background: url("../newbackground.JPEG");
    
} */

.title{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;  white;

    
}



.cell{
    width: 120px;
    height: 120px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}



.gameContainer{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
 
    

}
.board{
    display: grid;
    grid-template-columns: repeat(3,auto);
    width: 225px;
    margin: auto;
    margin-top: 45px;
    margin-left: 439px;
   
    
}


.buttons{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 18px;
background: #1E90FF;
text-transform: uppercase;
color: white;
border-radius: 5px;
cursor: pointer;
box-shadow: 0 0 10px;


}

.score{
display: flex;
justify-content: center;

}

.playerx{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    box-shadow: 0 0 10px;
    font-weight: lighter;
    border-radius: 8px;
}















